<div id="container">
    <div ng2-carouselamos
         class="slides-wrapper"
         [items]="items"
         [width]="1000"
         [$prev]="prev"
         [$next]="next"
         [$item]="item">
    </div>
</div>

<ng-template #prev>
    <button>Prev</button>
</ng-template>

<ng-template #next>
    <button>Next</button>
</ng-template>

<ng-template #item let-item let-i="index">
    <div class="items">
        <img src="{{item.url}}" />
        <div class="overlay">
            <div class="text" style="color:white; vertical-align: bottom; text-align:center;">{{item.title}}</div>
            <a class="show-recipe" href="{{item.linkRecette}}" target="_blank">
                VOIR RECETTE
            </a>
        </div>
    </div>

</ng-template>


