<h1>
    ChatbotNTF!
</h1>

<!-- On boucle avec ngFor dans la liste des messages-->

<div class="outsidebox">
    <div id="chatbox" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <ng-container *ngFor="let message of messages | async">
            <div class="container">
                <span class="message" [ngClass]="{'from':message.sentBy==='bot', 'to': message.sentBy==='user'}">
                    <ng-container *ngIf="isString(message.content)">
                        {{message.content}}
                    </ng-container>
                    <ng-container *ngIf="!isString(message.content)">
                        <carousel></carousel>
                    </ng-container>
                </span>
            </div>
        </ng-container>
    </div>
    <div class="bar">
        <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" placeholder="Entre ton message ici">

        <button (click)="sendMessage()">ENVOYER</button>
    </div>
</div>



